<div class="topcoat-list">
    <h3 class="topcoat-list__header">Options</h3>
        <ul class="topcoat-list__container">
               <li class="topcoat-list__item">
                    <a href="#/geolocation">Geolocation</a>
                </li>
                <li class="topcoat-list__item">
                    <a href="#/contacts">Contacts</a>
                </li>
                <li class="topcoat-list__item">
                    <a href="#/device">About this Device</a>
                </li>
                <li class="topcoat-list__item">
                    Peña Puto
                </li>
                <li class="topcoat-list__item">
                    Ávila Maricón
                </li>
                <li class="topcoat-list__item">
                    Gaston
                </li>
                <li class="topcoat-list__item">
                    Link 2
                </li>
                <li class="topcoat-list__item">
                    Link 3
                </li>
                <li class="topcoat-list__item">
                    Link 4
                </li>
        </ul>
</div>